html{
    position: relative;
    min-height:100%;
}

body{
    font-family: 'Open Sans', sans-serif;

    /*background-image: url("../images/wallpaper1.png");
    background-image: url("../images/wallpaper2.png");
    background-image: url("../images/wallpaper3.jpg");
    background-image: url("../images/wallpaper4.jpg");
    background-image: url("../images/wallpaper5.jpg");*/
    background-image: url("../resources/images/wallpaper6.jpg");
    /*background-image: url("../images/wallpaper7.jpg");
    background-image: url("../images/wallpaper8.jpg");
    background-image: url("../images/backimga.webp");
    background-image: url("../images/COLOURlovers.com-Slices_of_Life.png");*/
    background-color: lightslategrey;
    background-attachment:fixed;
    background-size: cover;
    background-position:center;
    padding-top: 137px;

    margin-bottom: 60px;
}


/**
 *Header
 **/

header .container-fluid{
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}


.header{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
}

header{
    transition: all 0.5s;
}

header a, #title a:hover, #title a:focus{
    color:white;
}

header h2{
  font-size: 50px;
  font-family: 'Baloo', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

#title{
    margin-top: -1rem;
}

#login :hover{
    color: lightslategrey;
}

#login :focus{
    color: darkslategrey;
}

.input-mysize{
    width: 100%;
    height: 34px;
    display: block;
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}


/**
 * Side menu
 **/

.aside-user-buttons {
    padding: 20px;
    background-color: rgba(0, 174, 93, 0.8);
    padding-bottom: 50px;
}

.aside-user-buttons .btn-lg {
    padding: 50px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.aside-user-buttons .btn-primary {
    background-color:  rgba(0, 174, 93, 1);
    border-color: white;
}

.aside-user-buttons .btn-default {
    background-color: rgb(225,121,89);
    display:block;
}

.aside-user-buttons .btn-primary:hover, .aside-user-buttons .btn-primary:active, .aside-user-buttons .btn-primary.focus, .aside-user-buttons .btn-primary:focus {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
    border-color: white;
}

@media (min-width: 768px) {
    .aside-user-buttons {
        position: fixed;
    }
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
    border-color: white;
}

.list-group-item {
    background-color: rgb(43,163,141);
    border: 1px solid white;
    font-size: 1.8rem;
    margin-top: 5px;
}

a.list-group-item {
    color: white;
    text-align: center;
    background-color:  rgba(0, 174, 93, 1);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: rgb(0, 174, 93);
    background-color: rgb(215,243,235);
}

/**
 * Footer
 **/
#footer{

    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom:0;
    width:100%;
}


/* */

.aside-menu-list {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgb(245, 245, 220);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* */

.recomendacoes-publicas {
    margin: auto;
}

.user-card-medium{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    margin-bottom: 50px;
}


.event-card-medium{
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px white;
    border-style: solid;
}

.event-card-medium:last-child{
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    margin:0;
    border-bottom: 1px rgba(255, 255, 255, 0.7);
}

.event-card-medium:hover, .user-card-medium:hover {
    box-shadow: 2px 2px 20px grey;
    transition: box-shadow 0.3s ease-in-out;
}

.event-card-medium img, .user-card-medium img {
    width: 100%;
    height: auto;
}

.classifica-card {
    color: rgb(225,121,89);
}

.text-card {
    font-weight: bold;
}

.titulo-card {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0px;
    height: 40px;
    overflow: hidden;
}

.recomendacoes-publicas h1 {
    border-bottom: 2px solid grey;
}

.create-event {
    margin-top: 60px;
    border-radius: 20px;
    background-color: orange;
    transition: box-shadow 0.3s ease-in-out;
}

ul {
    padding: 0px;
}

.fill-screen {
    background-size: cover;
    filter: blur(5px);
    background-position: center;
}

.relative-container {
    position:relative;
}

#logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
    border-color: white;
}

.list-group-item {
    background-color: rgb(43,163,141);
    border: 1px solid white;
    font-size: 1.8rem;
    margin-top: 5px;
}

a.list-group-item {
    color: white;
    text-align: center;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: rgb(43,163,141);
    background-color: rgb(215,243,235);
}

.page-title h1{
    margin: 0px;
    background-color:  rgba(255, 255, 255, 0.8);
    display: inline;
    padding-left: 20px;
    padding-right: 20px;

}

.error-message{
    margin-top: 100px;
    margin-right: 0px;
    padding-bottom: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    text-align: center;
}

.error-message h1{
    margin-bottom: 100px;
}

.page-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-card-medium {
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 10px 40px 10px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px white;
    border-style: solid;
}

.notification-card-medium:hover {
    box-shadow: 2px 2px 20px grey;
    transition: box-shadow 0.3s ease-in-out;
}

.notification-date {
    position: absolute;
    top: 10px;
    right: 20px;
}

.notification-content {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .notification-card-medium {
        padding: 10px 10px 20px 10px;
    }
}

/*PERSONAL CARD*/
.personal-card {
    padding: 10px;
    margin-bottom: 20px;
}

.personal-card p{
    display: inline;
    padding-left: 5px;
    font-size: 2rem;
}

.tag-personal-card {
    font-weight: bold;
}


.content-personal {
    padding-bottom: 10px;
    margin: 10px 0;
    display: block;
}

.photo-personal-card img {
    width: 100%;
    height: auto;
}

.purchased-tickets ul li{
    margin-bottom: 10px;
   font-size: 2rem;
}

.new-event-card {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}

.content-new-event p, .content-new-event input {
    display: inline;
}

.navbar-brand {
    font-family: 'Baloo', cursive;
    font-size: 30px;
}


.page{
    background-color: rgba(255, 255, 255, 0.7);
    /*background-color: rgba(255, 255, 255, 1);*/
}

.icon-bar{
    background-color: white;
}

a, a:hover, a:focus{
    text-decoration: none;
}

/**
 *  Show-event-page.php
 **/

.event-page-header{
    display: flex;
    flex-wrap: wrap;
}

.event-page-header > [class*='col-']{
    display: flex;
    flex-direction: column;
}

.event-page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.event-page-header > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.event-page-image-section{
    overflow: hidden;
    padding: 0;
}

.event-page-photo{
    width:100%;
}

.event-page-info-square-section{
    overflow: hidden;
    background-color: ghostwhite;
    padding: 0;
    position: relative;
}

.event-page-info-square-section > *{
    margin-left: 5%;
}

.event-date{
    position: absolute;
    top: 5%;
}

@media all and (min-width: 768px) { /* screen size until 500px */
    .event-name {
        font-size: 10px; /* 0.8x default size */
    }
}

@media all and (min-width: 992px) { /* screen size until 1000px */
    .event-name {
        font-size: 15px; /* 1.2x default size */
    }
    .event-creator{
        font-size: 13px;
    }
}

@media all and (min-width: 1200px) { /* screen size until 1200px */
    .event-name {
        font-size: 20px; /* 1.5x default size */
    }
    .event-creator{
        font-size: 15px;
    }
}

.event-name{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 35%;
}

.event-creator{
    position: absolute;
    top: 77%;
}

.event-rate{
    position: absolute;
    top: 60%;
}

.event-price{
    position: absolute;
    top: 90%;
}

.event-page-body{
    padding: 1%;
}

.map-image{
    width:100%;
}

.white-page{
    background-color: white;
}

.user-image{
    width: 100px;
    float: left;
}

.comment-text{
    padding-left: 15%;
}

/**
    * TABS PESQ CSS *
**/

#tabs {
	list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding-left: 10%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#tabs li {
	float: left;
    padding-right: 6%;
}

#tabs li a{
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

#tabs li a:hover {
	background-color: #ddd;
}

#tabs li a:active {
	background-color: #ddd;
}

.tabContent {
	overflow:hidden;
	border-top: none;
    width: 100%;
    max-height: 0px;
}

.tabContent:target {
	display: block;
	border: 1px solid #ccc;
	border-top: none;
    max-height:10000px;
    z-index: 1;
    padding: 6px 12px;

    transition: max-height 2s;
}

div .dropdown {
    display: inline;
}

.tabOptions {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.user-card-medium a {
  color: black;
}

.user-card-medium a:hover {
  text-decoration: underline;
}

.user-card-medium ul {
    list-style-type: circle;
}

.events-in-common {
    padding-left: 10px;
}

.tipoEventos-card {
    padding-left: 50px;
    display: block;
}

#tipoEventos h1 {
    border-bottom: 1px solid #ccc;
}

.see-more-evets {
    width: 100%;
}

.homepage .event-card-medium{
  background-color: rgba(000, 000, 000, 0.7);
  color: white;
  margin: 10px;
}

.homepage .page-title h1{
  background-color: rgba(000, 000, 000, 0.7);
  color: white;
}

.homepage .page-title{
  margin-top: 50px;
}

label{
    margin: 10px 0 10px 5px;
}

textarea {
    max-width: 100%;
}


/*ckeckout CARD*/
.ckeckout-card {
    padding: 10px;
    margin-bottom: 20px;
}

.ckeckout-card p{
    display: inline;
    padding-left: 5px;
    font-size: 2rem;
}

.tag-ckeckout-card {
    font-weight: bold;
}


.content-ckeckout {
    padding-bottom: 10px;
    margin: 10px 0px;
}

.content-ckeckout {
    display: block;
}


/*payed card*/
.payed-card {
    padding: 10px;
    margin-bottom: 20px;
}

.payed-card p{
    display: inline;
    padding-left: 5px;
    font-size: 2rem;
}

.payed-card a {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
	#menu {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.checkbox-form{
    display: block;
    width: 100%;
    height: 30px;
    color: #555;
    border: 1px solid #ccc;
}